.text-center {
    text-align: center;
  }

  .background {
    background-color: white;
    color: black;
  }

  h1, h2, .colored-text {
    font-family: 'Architects Daughter', cursive;
    font-size: 52px;
    color: #3f4c66;
    text-align: center;
    padding-bottom: 4px;
    border-bottom: 3px solid #3f4c66;
  }
