
  .text-center {
    font-family: 'Architects Daughter', cursive;
    font-size: 52px;
    color: white;
    text-align: center;
    padding-bottom: 4px;
  }

  .dark-background {
    background-color: #1E1E1E;
    color: white;
  }

  ul ol {
    text-align: center;
    list-style-position: inside
  }
