body {
  text-align: center;
}

  .text-center {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
    padding-bottom: 4px;
  }

p {
  color: white;
  font-size: 15px;
}

div {
  height: 0%;
    margin: 0%;
    padding: 5px;
}
   
  img {
    align: center;
  }

  .dark-background {
    background-color: #1E1E1E;
    color: white;
  }

  
  ul {
    text-align: center;
    list-style-position: inside;
  }

  ol {
    text-align: center;
    list-style-position: inside;
  }

  /*pseudo-classes*/
  a:link {
  color: red;
  }


  a:visited {
  color: green;
  }


  a:hover {
  color: whitesmoke;
    }


  a:active {
  color: blue;
  }